name: Build chainChat

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10' 

    - name: Install Common Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller

    - name: Install Dependencies for Mac
      if: matrix.os == 'macos-latest'
      run: |
        pip install pyobjc-framework-Cocoa

    - name: Build with PyInstaller
      run: |
        pyinstaller --onefile --noconsole --name "chainChat" main.py

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: chainChat-${{ matrix.os }}
        path: dist/
